.h-screen {
    padding: 1em;
}

.jogador {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    grid-auto-rows: 1fr;
    gap: 20px;
    padding: 1em 0;
}

.register-jogador {
    background-color: #BCECFC;
    border: 5px dashed #02C2FF;
    border-radius: 20px;
    
    text-align: center;
    align-content: center;
    color: #02C2FF;
    font-weight: bold;
    font-size: 1.75em;

    transition: all ease .7s;
}

.register-jogador:hover {
    border-color: #029aff;
    background-color: #029aff;
    color: white;
}

.jogador {
    padding: 1em;
    border-radius: 20px;
    display: flex;
    gap: 1.25em;
    
    position: relative;
    background-color: #BCECFC;
}

.jogador img{
    width: 130px;
    height: auto;
}

.jogador div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.jogador div, .jogador a {
    width: 100%;
}

.jogador h3 {
    font-size: 1.25em;
    font-weight: 600;
}

.jogador h3 a {
    color: black;
    transition: color ease .3s;
}
.jogador h3 a:hover {
    color: #09619b;
}

.jogador p {
    font-weight: 300;
    line-height: 1.15;
}

.jogador div > a {
    padding: 5px;
    border-radius: 10px;

    font-weight: 600;
    text-align: center;
    background-color: #00C2FF;

    transition: all ease .3s;
}
.jogador div > a:hover {
    background-color: #029aff;
}

.jogador .trash {
    position: absolute;
    right: 1em;
    top: 1em;
    width: auto;
}

.jogador .trash path {
    fill: #f95c5c;
    transition: fill ease .3s;
}
.jogador .trash:hover path {
    fill: #cf0e0e;
}

@media screen and (min-width: 750px) {
    .h-screen {
        padding: 1.25em;
    }
    .jogadors {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .register-jogador {
        font-size: 2em;
    }
}
@media screen and (min-width: 1200px) {
    .jogadors {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .jogador h3 {
        font-size: 1.5em;
    }
}
