.h-screen {
    padding: 1em;
}

.times {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    grid-auto-rows: 1fr;
    gap: 20px;
    padding: 1em 0;
}

.register-time {
    background-color: #BCECFC;
    border: 5px dashed #02C2FF;
    border-radius: 20px;
    
    text-align: center;
    align-content: center;
    color: #02C2FF;
    font-weight: bold;
    font-size: 1.75em;

    transition: all ease .7s;
}

.register-time:hover {
    border-color: #029aff;
    background-color: #029aff;
    color: white;
}

.time {
    padding: 1.5em;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    
    position: relative;
    background-color: #BCECFC;
}

.time img{
    width: 40%;
}

.time div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.time h3 {
    font-size: 1.25em;
    font-weight: 600;
}

.time span {
    margin-top: -5px;
    display: block;
    font-size: .75em;
    font-weight: 300;
}

.time a {
    color: #00C2FF;
    font-weight: bold;
    transition: color ease .3s;
}
.time a:hover {
    color: #029aff;
}

.time .manage {
    position: absolute;
    right: 1em;
    top: 1em;

    display: flex;
    gap: 5px;
}

.time .manage svg {
    width: 1.4em;
}

.time .gear path {
    fill: #02C2FF;
    transition: fill ease .3s;
}
.time .gear:hover path {
    fill: #029aff;
}

.time .trash path {
    fill: #f95c5c;
    transition: fill ease .3s;
}
.time .trash:hover path {
    fill: #cf0e0e;
}

@media screen and (min-width: 750px) {
    .h-screen {
        padding: 1.25em;
    }
    .times {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
    }
    .register-time {
        font-size: 2em;
    }
}
@media screen and (min-width: 1200px) {
    .times {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .time h3 {
        font-size: 1.5em;
    }
}
