<%- include('../partials/header', {title: "Registrar jogador"}) %>

<body>
    <%- include('../partials/navbar', {active: 1, page: "logado"}) %>

    <main class="content-center h-screen">
        <div class="form-container manage">
            <h1>Registrar jogador</h1>
            <form action="/times/<%= time_id %>/jogadores/registrar" method="post">
                <div class="inputs">
                    <div class="input">
                        <input type="text" name="nome" placeholder="Digite o nome do jogador">
                        <label for="nome">Nome completo</label>
                    </div>
                    <div class="input">
                        <input type="email" name="email" placeholder="Digite o email do jogador">
                        <label for="email">Email</label>
                    </div>
                    <div class="input">
                        <input type="text" name="numero_camisa" placeholder="Digite o Número da camisa do jogador">
                        <label for="numero_camisa">Número da camisa</label>
                    </div>
                    <div class="input">
                        <input type="text" name="cpf" placeholder="Digite o CPF do jogador">
                        <label for="cpf">CPF</label>
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn-primary">Registrar jogador</button>
                </div>
            </form>
        </div>
    </main>
</body>
