<%- include('../partials/header', {title: "Registrar time"}) %>

<body>
    <%- include('../partials/navbar', {active: 1, page: "logado"}) %>

    <main class="content-center h-screen">
        <div class="form-container manage">
            <h1>Registrar Time</h1>
            <form action="/times/registrar" method="post">
                <div class="inputs">
                    <div class="input">
                        <input type="text" name="nome" placeholder=" ">
                        <label for="nome">Nome do time</label>
                    </div>
                    <div class="input">
                        <input type="text" name="cidade" placeholder=" ">
                        <label for="cidade">Cidade</label>
                    </div>
                    <div class="input">
                        <input type="text" name="tecnico" placeholder=" ">
                        <label for="tecnico">Nome do técnico</label>
                    </div>
                    <div class="input">
                        <input type="text" name="presidente" placeholder=" ">
                        <label for="presidente">Presidente do time</label>
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn-primary">Registrar time</button>
                </div>
            </form>
        </div>
    </main>
</body>

