main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 4em;
    color: #02C2FF;
}
h2 span{
    color: #000;
}
p {
    font-size: 1.2em;
}

main a {
    font-size: 1.5em;
    font-weight: 500;
    padding: 0.75em 1.75em;
    margin-top: 3em;
    border-radius: 50px;
    background-color: #02C2FF;
    transition: all ease .3s;

    display: flex;
    align-items: center;
    gap: 15px;
}

main a:hover {
    background-color: #029aff;
}

@media screen and (min-width: 450px) {
    h2 {
        font-size: 5em;
    }
}

@media screen and (min-width: 800px) {
    h2 {
        font-size: 8em;
    }
    p {
        font-size: 2em;
    }
    main a {
        font-size: 1.75em;
        padding: 1em 2em;
    }
}
