<nav>
    <h1><a href="/">Teamditor</a></h1>
    <ul>
        <% if (typeof page !== "undefined" && page == "home") { %>
            <li><a href="/login">Login</a></li>
            <li><a href="registrar">Registrar</a></li>
        <% } else { %>
            <% var activeClass = (typeof active !== 'undefined') ? active : 0  %>
            <li><a href="/times" class="<%= activeClass == 1 ? "active" : "" %>">Times</a></li>
            <li><a href="/perfil" class="<%= activeClass == 2 ? "active" : "" %>">Meu perfil</a></li>
            <li><a href="/logout" class="logout">Sair</a></li>
        <% } %>
    </ul>
</nav>
